# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Snake-Project.iml
# Datasource local storage ignored files
/../../../../../../:\Snake\Snake-Project\.idea\.idea.Snake-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
